doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/components/nouislider/nouislider.fox.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/socket.io/socket.io.js')
    meta(name='viewport', content='width=device-width,user-scalable=no')

  block content
