html {
  height: 100%;
  background: linear-gradient(#525252, #1e1e1e);
  color: #ffeeff;
  font-family: "PT sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 962px;
  height: 610px;
  background: url("/images/container.png");
  margin: 30px auto;
  padding: 30px 30px 60px 30px;
  box-shadow: 0px 0px 60px #111111;
  border-radius: 10px;
}

.inner-container {
  background: url("/images/inner-container.jpg");
  width: 963px;
  height: 459px;
  box-shadow: inset 0 0 20px 1px #111111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1, h2 {
  color: #ffeeff;
}

span {
  padding: 0 0 2px;
  border-bottom: 1px dotted #444444;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

span:hover {
  color: #ffdd00;
}

.key-wrapper {
  margin: 0 auto;
}

.track-group {
  margin: 0px 30px 4px 30px;
  float: left;
}

.track-title {
  background: url("/images/track-title.png");
  width: 110px;
  height: 42px;
  float: left;
  margin-top: 2px;
  margin-right: 57px;
}

.row {
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
}

.indicators {
  height: 53px;
  margin-left: 198px;
}

.indicator {
  width: 17px;
  height: 17px;
  margin: 21px 17px 12px 12px;
  display: inline-block;
  background: url("/images/indicator-off.png") no-repeat;
  border-radius: 9px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.indicator.active {
  background: url("/images/indicator-on.png");
  box-shadow: 0 0 30px 1px #e10000;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
}

.key {
  margin: 2px 3px;
  width: 40px;
  height: 41px;
  border-radius: 5px;
  display: inline-block;
  background: url("/images/button-off.png");
  line-height: 36px;
  text-indent: -9999px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.key.active {
  background: url("/images/button-on.png");
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
.key.playing {
  background: url("/images/button-play.png");
  box-shadow: 0 0 8px 0px #ffeeff;
}

.panel {
  width: 963px;
  height: 160px;
  background: url("/images/panel.jpg");
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fiddles {
  margin: 28px;
  width: 122px;
  float: left;
}

.controls {
  width: 183px;
  float: left;
  margin-left: 215px;
}
.controls a {
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  float: left;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.controls .play {
  width: 79px;
  height: 80px;
  margin-top: 40px;
  background: url("/images/controls-play-off.png");
}
.controls .play:hover, .controls .play:active {
  background: url("/images/controls-play-active.png");
}
.controls .play.active {
  background: url("/images/controls-play-on.png");
}
.controls .stop, .controls .record {
  width: 47px;
  height: 48px;
  margin-top: 55px;
}
.controls .stop {
  margin-right: 3px;
  background: url("/images/controls-stop-off.png");
}
.controls .stop:hover, .controls .stop:active {
  background: url("/images/controls-stop-active.png");
}
.controls .stop.active {
  background: url("/images/controls-stop-on.png");
}
.controls .record {
  margin-left: 3px;
  background: url("/images/controls-record-off.png");
}
.controls .record:hover, .controls .record:active {
  background: url("/images/controls-record-active.png");
}
.controls .record.active {
  background: url("/images/controls-record-on.png");
}
